@import "tailwindcss";

@theme {
  --color-hidejobs-50: #f4f7fb;
  --color-hidejobs-100: #e7eef7;
  --color-hidejobs-200: #cadbed;
  --color-hidejobs-300: #9bbdde;
  --color-hidejobs-400: #659bcb;
  --color-hidejobs-500: #3e77ac;
  --color-hidejobs-600: #306399;
  --color-hidejobs-700: #28507c;
  --color-hidejobs-800: #254567;
  --color-hidejobs-900: #233b57;
  --color-hidejobs-950: #17263a;
}