@import "tailwindcss";

@theme {
  --color-stilpon-50: #f4f7fb;
  --color-stilpon-100: #e7eef7;
  --color-stilpon-200: #cadbed;
  --color-stilpon-300: #9bbdde;
  --color-stilpon-400: #659bcb;
  --color-stilpon-500: #3e77ac;
  --color-stilpon-600: #306399;
  --color-stilpon-700: #28507c;
  --color-stilpon-800: #254567;
  --color-stilpon-900: #233b57;
  --color-stilpon-950: #17263a;
}