@import "tailwindcss";

@theme {
  --color-hidejobs-50: #f4f7fb;
  --color-hidejobs-100: #e7eef7;
  --color-hidejobs-200: #cadbed;
  --color-hidejobs-300: #9bbdde;
  --color-hidejobs-400: #659bcb;
  --color-hidejobs-500: #3e77ac;
  --color-hidejobs-600: #306399;
  --color-hidejobs-700: #28507c;
  --color-hidejobs-800: #254567;
  --color-hidejobs-900: #233b57;
  --color-hidejobs-950: #17263a;

  --color-hidejobs-red-50:  #ffeff2;
  --color-hidejobs-red-100: #ffe1e6;
  --color-hidejobs-red-200: #ffc7d4;
  --color-hidejobs-red-300: #ff99b1;
  --color-hidejobs-red-400: #ff5f89;
  --color-hidejobs-red-500: #ff2866;
  --color-hidejobs-red-600: #fa0454;
  --color-hidejobs-red-700: #d40048;
  --color-hidejobs-red-800: #b10044;
  --color-hidejobs-red-900: #970441;
  --color-hidejobs-red-950: #55001e;
}